@media screen and (min-width:992px) {
    .headline-lg{
        line-height: 100%;
        font-weight: 500;
    }
    .headline-sm{
        line-height: 140%;
        letter-spacing: -0.045em;
        font-weight: 500;
    }
    h1{
        font-size: 80px;
        letter-spacing: -0.025em;
        .headline-lg()
    }
    h2{
        font-size: 64px;
        letter-spacing: -0.045em;
        .headline-lg()
    }
    h3{
        font-size: 48px;
        letter-spacing: -0.045em;
        .headline-lg()
    }
    h4{
        font-size: 32px;
        line-height: 110%;
        font-weight: 500;
        letter-spacing: -0.045em;
    }
    h5{
        font-size: 24px;
        .headline-sm()
    }
    h6{
        font-size: 20px;
        .headline-sm()
    }
    .title{
        font-size: 18px;
        line-height: 110%;
        letter-spacing: -0.025em;        
    }
    .quote{
        font-size: 24px;
        line-height: 123%;
        /* identical to box height, or 30px */

        letter-spacing: -0.025em
    }
    .body{
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */
        color: @text-color-secondary;
        letter-spacing: -0.025em;
    }
    .link{
        color:@link-color;
        text-decoration: none;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: -0.04em;
    }
    .caption{
        font-size: 14px;
        color: @text-color-secondary;
        line-height: 99.33%;
        /* identical to box height, or 14px */
        font-weight: 500;
        letter-spacing: -0.025em;
    }
}